*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #7d7de1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: arial;
}
.card{
    height: 450px;
    width: 500px;
    background-color: #8c9fd7;
    border-radius: 15px;
    border: 1px solid white;
}
.card h1{
    text-align: center;
    margin-top: 30px;
}
.card .name_output span {
    color: #5a743e;
}
.card .age_outPut span {
    color: red;
}
.card .data{
    display: none;
    flex-direction: column;
    align-items: flex-start;
    margin: auto auto;
    max-width: 430px;
}
.card .data .button{
    margin: 40px auto;
    padding: 28px;
    border: none;
    border-radius: 16px;
    background-color: #c7f160;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    color: #606060;
}
.serial_outPut input{
    border: none;
    background-color: transparent;
    font-size: 28px;
    color: #313b85;
    font-weight: 600;
    width: 190px;
}
.serial_outPut input:focus-visible{
    outline: none;
}
.card form{
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 360px;
    align-items: center;
    justify-content: space-around;
}
.card form .label_name , .label_age{
    display: flex;
    flex-direction: column;
}
.card form .label_name label , .label_age label{
    margin-bottom: 10px;
}
.card form .label_name input , .label_age input{
    border: none;
    background-color: white;
    width: 250px;
    height: 25px;
}
.card form .label_name input:focus-visible , .label_age input:focus-visible {
    outline: none;
    font-size: 15px;
}
.card form .button{
    margin: 0 auto;
    padding: 28px;
    border: none;
    border-radius: 16px;
    background-color: #c7f160;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    color: #606060;
}
@media screen and (max-width: 700px) {
    /* Styles for screens up to 768 pixels wide */
    .card form {
        width: 250px;
      }
      .card{
        width: 300px;
      }
      .card .data {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 38px;
        margin-top: 20px;
        font-size: 9px;
    }
      .card .data .button {
        margin: 40px 18px 0;
        padding: 28px;
        border: none;
        border-radius: 16px;
        background-color: #c7f160;
        cursor: pointer;
        font-size: 18px;
        font-weight: 600;
        color: #606060;
    }

    .serial_outPut input {
        font-size: 19px;
        width: 130px;
    }

  }
